
.counter .layer {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

}
.for{

 background-color:rgba(140, 130, 191,.3);
}
#check{
margin: 10px;
 background-color:rgba(140, 130, 191,.3);
}
.result{

padding: 25px;
border-radius: 20px;
background-color:rgba(140, 130, 191,.3);
}
::placeholder {
color: rgb(140, 130, 191);
opacity: 1;
}

*,*::after,*::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.s-color{
  /* color:#513146; */
  color:#9086c2;
}
button , a {

    cursor: pointer;  
    text-decoration: none;
}
a{
  color:black;
}
.quizz{
background-color:rgba(144, 134, 194);
color: white;

}
.hotline img{width: 200%;}
@media only screen and (max-width: 767px){
*{
    margin-right:0px ;
    padding-right: 0px;
    margin-left:0px ;
    padding-left: 0px;
    font-size: medium;

}


[class*="col-"] {
   width: 100%;
 }
.imgcol {width:25%;}
.imgcol img{width:50%;}
 .quiz{
  width:100%;
 }
 .test{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;

 }
 .quizz{
  margin-bottom: 5px;
  text-align: center;
 }
}
@media only screen and (max-width: 767px){
  .txtt{
    width: 100%;
    padding: 0px;
  margin: 0px;}
  .result ,.txt{width: 100%;}
}



html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #9086c2;
}


.clr {
  clear: both;
}





.main-color{
  color: #8d7985;
}
.s-color{
/* color:#513146; */
color:#9086c2;
}
button , a {

  cursor: pointer;  
  text-decoration: none;
}
.quizz{
  background-color: #ffffff;
  color  :rgb(0, 0, 0);
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
}
.bg-color{
  background-color: rgb(242, 240, 240);
}


@media only screen and (max-width: 767px){
 

 #sendMessageButton{margin: auto;}
  
}
nav{
  background-color:transparent ;
  padding: 5px;
  margin: 10px;
 
}
.activee{
  color: white;
  border-radius: 20px;
  background-color:  #9086c2;
}
a{

  margin-right: 10px;

  color:#9086c2;
  font-weight: bolder;
  text-decoration: none;

}

.nav-item{
  font-weight: bold;   
}
.nav-link{
  color:   #9086c2;
  position: relative;
}
.nav-link a:hover{
  color: white;
  border-radius: 20px;
  background-color:  #9086c2;
  }
/* //// */

.nav-link::before {
  content: "";
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: width 0.5s;
}

.nav-link.active::before {
  width: 40px;
}

.navbar-brand:hover{color: #9086c2;}
#navbar-example{background-color: transparent;}
@media only screen and (max-width: 767px){
  #navbar-example{background-color: rgba(218, 215, 215, 0.2);
}
  .nav-item{
      padding-bottom: 10px;
   
     
 }



  
}